* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}

.title {
  padding-top: 96px;
  padding-bottom: 48px;
}
main {
  background-color: hsl(0, 0%, 60%);
  padding-top: 96px;
  padding-bottom: 96px;
}

header {
  border-bottom: 8px solid hsl(0, 0%, 30%);
}
strong {
  color: hsl(160, 100%, 30%);
}
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 400px;
  padding-left: 24px;
  padding-bottom: 32px;
}

.intro-chunk > p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-bottom: 16px;
}

.indented-heading {
  background-color: hsl(45, 100%, 50%);
  padding: 20px 38px;
  max-width: 420px;
  margin-left: -38px;
  border-bottom: 8px solid hsl(45, 100%, 40%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 30%);
  padding: 8px 24px;
  max-width: 715px;
}
.card > p {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-bottom: 16px;
}
