* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  padding-top: 96px;
  padding-bottom: 48px;
}
header {
  border-bottom: 8px solid hsl(0, 0%, 30%);
}
strong {
  color: hsl(160, 100%, 30%);
}
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk {
  width: 315px;
  padding-bottom: 32px;
}

.intro-chunk > p {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-bottom: 16px;
}